body {
	background: #fff;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}
header {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 0 75px;	
}

header .menu {
	padding-top: 65px;
	display: flex;
}

header .menu > a {
	font-weight: 400;
	font-size: 25px;
	color: #000;
	margin: 0 54px;
	transition: 0.5s;
	text-decoration: none;
}

header .menu .active, header .menu > a:hover {
	color: #8FED31;
}

header .menu .active {
	font-weight: 700;
}

.content {
	margin-top: 30px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	padding: 0 80px;
	justify-content: center;
}

.content .text h1 {
	font-size: 45px;
	font-style: italic;
	font-weight: 400;
	line-height: 52px;
	color: #000;
	text-align: center;
}

.content .text h2 {
	font-size: 33px;
	font-weight: 400;
	line-height: 44px;
	color: #000;
	text-align: center;
}

.content .text b {
	font-weight: 700;
	color: #8FED31;
}

.content .text p {
	font-size: 25px;
	font-weight: 400;
	line-height: 37px;
	color: #000;
	text-align: justify;
}

.menu_content {
	margin-top: 30px;
	padding: 0 80px;
}

.menu_content .tab {
	text-align: center;
	padding-bottom: 25px;
}

.menu_content .tab a {
	font-size: 31px;
	font-weight: 400;
	line-height: 50px;
	color: #000;
	text-decoration: none;
	margin-left: 90px;
}

.menu_content .tab a:first-child {
	margin-left: 0;
}

.menu_content table {
	border-collapse: collapse;
	border-spacing: 30px;
	width: 100%;
}

.menu_content table tr {
	border-top: 1px solid #000;
	height: 200px;
}

.menu_content table tr td {
	padding: 22px;
}

.menu_content table tr td:last-child a {
	color: #1a9941;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
    display: block;
    font-size: 17px;
}

.cart_content .order {
	max-width: 800px;
	margin: 0 auto;	
}

.cart_content .order h4 {
	font-size: 25px;
	font-style: italic;
	font-weight: 400;
	line-height: 52px;
	color: #000;
	text-align: center;
}

.cart_content .order b {
	font-weight: 700;
	color: #8FED31;
}

.cart_content .order table {
	border-collapse: collapse;
	border-spacing: 30px;
	width: 100%;
}

.cart_content .order table tr {
	height: 200px;
}

.cart_content .order table tr td {
	padding: 22px;
}

.cart_content .order table tr td:last-child a {
	color: #1a9941;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
    display: block;
    font-size: 17px;
}

.cart_content .order .shipping label {
	width: 34%;
	display: inline-block;
}

.cart_content .order .shipping label[for="Uwagi"] {
	position: relative;
	top: -100px;
}

.cart_content .order .shipping input, .cart_content .order .shipping textarea {
	width: 60%;
	display: inline-block;
	margin-bottom: 20px;
}

footer {
    align-items: center;
    background: #8FED31;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
	padding: 30px 0;
	margin-top: 50px;
}